@import "mixins";
@import "fonts";
@import "colors";
@import "reset";

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-y: scroll;
    background: $bgr-color;
    min-height: 100%;
    position: relative;
}

.clearfix {
    float: none;
    clear: both;
}

.clearfix:after {
    content: "";
    display: inline-block;
    display: block;
    clear: both;
}

body {
    background: $bgr-color;
    @include remCalc(font-size, 12);
    @include remCalc(line-height, 18);
    color: $primary-color;
    font-family: $verdana;
    min-height: 100%;
    height: 100%;
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}


h1 {
    font-family: $neue-haas-unica-pro;
    font-weight: bold;
    font-weight: 700;
    @include remCalc(font-size, 30);
    @include remCalc(line-height, 32);
}

h2 {
    font-family: $neue-haas-unica-pro;
    font-weight: bold;
    font-weight: 700;
    @include remCalc(font-size, 26);
    @include remCalc(line-height, 38);
    @include remCalc(margin-top, 21);
    @include remCalc(margin-bottom, 21);
}

h3 {
    font-family: $neue-haas-unica-pro;
    font-weight: bold;
    font-weight: 700;
    @include remCalc(font-size, 22);
    @include remCalc(line-height, 24);
    @include remCalc(margin-bottom, 32);
}

h4 {
    font-family: $neue-haas-unica-pro;
    font-weight: bold;
    font-weight: 700;
    @include remCalc(font-size, 18);
    @include remCalc(line-height, 20);
}

h5 {
    font-family: $neue-haas-unica-pro;
    font-weight: bold;
    font-weight: 700;
    @include remCalc(font-size, 14);
    @include remCalc(line-height, 16);
}

h6 {
    font-family: $neue-haas-unica-pro;
    font-weight: bold;
    font-weight: 700;
    @include remCalc(font-size, 12);
    @include remCalc(line-height, 14);
}

p {
    @include remCalc(margin-bottom, 20);
}

a {
    color: $active-color;

    &:hover {
        text-decoration: underline;
    }
}

.reader {
    @include hideText;
    position: absolute;
    left: -9999px;
}

.content-wrap {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    display: flex;
}

#site-header {
    background: $primary-purple;
    @include remCalc(padding-top, 12);
    @include remCalc(padding-bottom, 12);
    position: relative;
}

#header-logo {
    img {
        height: 30px;
        width: auto;
    }
}

#main {
    width: 100%;
    @include remCalc(padding-bottom, 32);
}

#content {
    width: 100%;
    padding-right: 20px;
}

#sidebar {
    width: 250px;
    top: 0px;
    right: 10px;
    @include remCalc(padding, 12);
    overflow: hidden;
    background: $primary-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    color: $secondary-color;
    margin-bottom: 50px;

    a {
        color: $active-color;
    }
}

#site-footer {
    background: $primary-purple;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    .pull-right {
        color: $primary-color;
        @include remCalc(font-size, 10);
        @include remCalc(padding-top, 8);
        @include remCalc(padding-bottom, 8);
    }
}

header:after {
    height: 0;
    width: 100%;
    content: '';
    box-shadow: 0 0 40px 8px $secondary-grey;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.title-bar {
    background-color: $primary-turquoise;
    @include box-shadow(0 0px 12px -1px $secondary-color);
    @include remCalc2(padding, 12, 0);
    color: $primary-purple;

    h2 {
        font-weight: normal;
        font-weight: 400;
        letter-spacing: -1px;
    }
}

.pull-right {
    float: right;
}

// tweets search
.tweet-search {
    @include remCalc(margin-top, 24);
    @include remCalc(padding, 12);
    background: $primary-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    color: $secondary-color;
}

#search-form {
    overflow: hidden;
    @include remCalc2(padding, 8, 0);
}

#search-text {
    border: 1px solid $border-color;
    border-radius: 3px;
    background-color: $primary-color;
    height: 32px;
    float: left;
    color: $secondary-color;
    @include remCalc2(padding, 0, 10);
    caret-color: $secondary-color;
}

#search-button {
    display: block;
    float: left;
    @include remCalc(height, 32);
    @include remCalc(width, 32);
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid $border-color;
    color: $primary-color;
    font-weight: 700;
    text-transform: uppercase;
    @include remCalc2(padding, 8, 16);
    @include remCalc(margin-left, 8);
    background: url(../images/sprite.png) center -34px no-repeat $primary-purple;
    background-size: 32px;
    @include hideText;

    &:hover,
    &:active,
    &:focus {
        background-color: $primary-coral;
        ;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
        background: url(../images/sprite_x2.png) center -32px no-repeat $primary-purple;
        background-size: 32px;
    }
}

// tweets search results
.tweet-search-results {
    @include remCalc(margin-top, 15);

    .results-container {
        color: $secondary-color;
        border: 1px solid $border-color;
        border-radius: 5px;
        background: $primary-color;
        @include remCalc(padding, 12);
    }

    .tweet {
        @include remCalc(padding-left, 10);
        @include remCalc(padding-right, 10);
    }

    .tweet-datetime {
        color: $secondary-grey;
    }
}

// tweets pagination
.pagination {
    background-color: $primary-color; 
    border: 1px solid $border-color;
    border-radius: 5px;
    color: $secondary-color;
    width: 100%;
    overflow: hidden;
    @include remCalc(margin-top, 15);
    margin-bottom: 50px;

    .previous,
    .next {
        background-color: $primary-purple;
        display: block;
        @include remCalc(width, 48);
        @include remCalc(height, 44);
        position: relative;
        text-align: center;
        color: $primary-color;
        @include remCalc2(padding, 6, 0);
        @include transition(background-color 400ms cubic-bezier(0.19, 1, 0.22, 1));

        &:before {
            position: relative;
            width: 100%;
            height: 32px;
            @include remCalc(font-size, 20);
            display: inline-block;
        }

        &:hover,
        &:active,
        &:focus {
            &::before {
                filter: invert(30%) sepia(35%) saturate(2399%) hue-rotate(311deg) brightness(102%) contrast(102%);
            }
        }
    }

    .previous {
        float: left;
        border-right: 1px solid $border-color;

        &:before {
            content: "";
            background: url(../images/sprite.png) center -98px no-repeat transparent;
            background-size: 32px;

            @media only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (min--moz-device-pixel-ratio: 2),
            only screen and (-o-min-device-pixel-ratio: 2/1),
            only screen and (min-device-pixel-ratio: 2),
            only screen and (min-resolution: 192dpi),
            only screen and (min-resolution: 2dppx) {
                background: url(../images/sprite_x2.png) center -98px no-repeat transparent;
                background-size: 32px;
            }
        }
    }

    .next {
        float: right;
        border-left: 1px solid $border-color;

        &:before {
            content: "";
            background: url(../images/sprite.png) center -65px no-repeat transparent;
            background-size: 32px;

            @media only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (min--moz-device-pixel-ratio: 2),
            only screen and (-o-min-device-pixel-ratio: 2/1),
            only screen and (min-device-pixel-ratio: 2),
            only screen and (min-resolution: 192dpi),
            only screen and (min-resolution: 2dppx) {
                background: url(../images/sprite_x2.png) center -65px no-repeat transparent;
                background-size: 32px;
            }
        }
    }
}

// sidebar with 5 recet tweets

.tweet {
    border-bottom: 1px solid $border-color;
    @include remCalc(font-size, 12);
    @include remCalc(margin-bottom, 10);
    @include remCalc(padding-bottom, 10);

    p {
        margin-bottom: 0;
    }
}

.tweet-datetime {
    @include remCalc(font-size, 11);
    text-align: right;
    color: $secondary-grey;
    @include remCalc(padding-top, 4);
}

.tweet-heading {
    background: url(../images/sprite.png) 0 0 no-repeat transparent;
    text-transform: lowercase;
    background-size: 32px;
    @include remCalc(padding-left, 40);
    @include remCalc(height, 32);
    @include remCalc(font-size, 18);
    @include remCalc(line-height, 28);
    @include remCalc(margin-bottom, 12);

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
        background: url(../images/sprite_x2.png) 0 0 no-repeat transparent;
        background-size: 32px;
    }
}

.tweet-intro {
    color: $secondary-grey;
    @include remCalc(margin-bottom, 12);
}

@media screen and (max-width: 768px) {
    #content {
        padding-right: 0;
    }

    #sidebar {
        width: 100%;
        position: static;
        @include remCalc(margin-top, 15);
        @include remCalc(margin-bottom, 15);
    }
}