﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Developer Test | Mirum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/css/screen.css">
    <!--[if lt IE 9]>
        <script type="text/javascript" src="javascript/html5shiv.min.js"></script>
    <![endif]-->    
</head>
<body role="document">
    <header role="banner" id="site-header">
        <div class="content-wrap">
            <h1><a href="./" id="header-logo"><img src="~/images/logo.png" alt="Mirum"></a></h1>
        </div>
    </header>
    <div id="main" class="clearfix">
        <div class="title-bar">
            <h2 class="content-wrap">Welcome to the Twitter Page</h2>
        </div>
        
    </div>
    @RenderBody()
    <footer id="site-footer" class="clearfix">
        <div class="content-wrap">
            <span class="pull-right">&copy;Mirum 2020</span>
        </div>
    </footer>
    <script src="~/js/html5shiv.min.js"></script>
    <script src="~/js/jquery-1.12.0.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
