﻿@using Humanizer
@model HomeViewModel
<div class="content-wrap">
    <section role="main" id="content">
        <div class="tweet-search">
            <h3>Search for updates:</h3>
            <form id="search-form" asp-controller="Home" asp-action="Search" method="post" role="form">
                <label id="search-text-label" for="search-text" class="reader">
                    Enter some text to search
                    on:
                </label>
                <input asp-for="@Model.SearchedText" id="search-text" placeholder="search phrase..." />
                <input type="submit" id="search-button" value="Search" />
                <span asp-validation-for="@Model.SearchedText"></span>
            </form>
        </div>
        <div class="tweet-search-results">
            <div class="results-container">
                <h3>Search results:</h3>
                <div class="twitter-feed">
                    @if (Model.SearchContent?.Contents != null)
                    {
                        @if (Model.SearchContent.Contents.Count == 0)
                        {
                            <div class="tweet">
                                <p>Sorry but your search did not return any results</p>
                            </div>
                        }
                        else
                        {
                            foreach (var content in Model.SearchContent.Contents)
                            {
                                <div class="tweet">
                                    <p>@content.Text</p>
                                    <p class="tweet-datetime">Posted by &#64;@content.Author on @content.Created</p>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="pagination">
                @*<a class="previous" href="#" title="previous page"><span class="reader">Previous page of results</span></a>*@
                @if (Model.SearchContent.PreviousActive)
                {
                    <form asp-controller="Home" asp-action="Previous" method="post">
                        <input type="hidden" name="newest_id" value="@Model.SearchContent?.NewestId" />
                        <input type="hidden" name="next_token" value="@Model.SearchContent?.NextToken" />
                        <input type="hidden" name="previous_first_time" value="@Model.SearchContent.PreviousFirstTime" />
                        <input asp-for="@Model.SearchedText" type="hidden" />
                        <button type="submit" value="previous" class="previous" title="Previous page of results" />
                    </form>
                }
                @if (Model.SearchContent.NextActive)
                {
                    <form asp-controller="Home" asp-action="Next" method="post">
                        <input type="hidden" name="newest_id" value="@Model.SearchContent?.NewestId" />
                        <input type="hidden" name="next_token" value="@Model.SearchContent?.NextToken" />
                        <input type="hidden" name="previous_first_time" value="@Model.SearchContent.PreviousFirstTime" />
                        <input asp-for="@Model.SearchedText" type="hidden" />
                        <button type="submit" value="next" class="next" title="Next page of results" />
                    </form>
                }
                @*<a class="next" href="#" title="next page"><span class="reader">Next page of results</span></a>*@
            </div>
        </div>

    </section>
    <cache expires-after="@TimeSpan.FromHours(1)">
        <aside role="complementary" id="sidebar">
            <h3 class="tweet-heading">&#64;mirum</h3>
            <p class="tweet-intro">Our most recent updates:</p>
            <div class="twitter-feed">
                @if (Model.FeederContents == null || Model.FeederContents?.Count == 0)
                {
                    <div class="tweet">
                        <p>Something went wrong, our team is working on it. </p>
                    </div>
                }
                else
                {
                    foreach (var homeTweet in Model.FeederContents)
                    {
                        <div class="tweet">
                            <p>@homeTweet.Text</p>
                            <p class="tweet-datetime">Posted on @homeTweet.Created</p>
                        </div>
                    }
                }
            </div>
        </aside>
    </cache>
</div>